* {
    margin: 0;
    padding: 0;
}

body {
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    background-color: white;
    width: 400px;
    height: 300px;
    position: relative;
    left: 44%;
    border: 1px solid white;
    border-radius: 6%;
}

.formItem {
    display: flex;
    flex-direction: column;
    margin: 7px auto;
}

label {
    margin-left: 10px;
}

select, input {
    margin-left: 10px;
    width: 200px;
}

button {
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

p.error{
    color: red;
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    background-color: white;
    width: 400px;
    height: 300px;
    position: relative;
    left: 44%;
    border-radius: 6%;
}

.done {
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
    text-shadow: -1px -1px 0px black,
    3px 3px 0px black,
    6px 6px 0px black;
}

.overview button {
    margin-right: 15px;
}